#################################
# IDE Files
#################################
.idea
*.ipr
*.iml


#################################
# OSX Files
#################################
.DS_Store

#################################
# Temp Files
#################################
temp
